body{
    width: 100%;
    font-family: 'Iceland', cursive !important;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

header{
    text-align: center;
}

header h1{
    margin: 30px auto 10px auto;
    font-size: 100px;
    text-align: center;
    font-family: 'Iceland', cursive;
    font-weight: 500 !important;
}

header a{
    margin:0px 10px;
    color: black;
    font-size: 24px;
    transition-duration: 0.25;
    text-decoration: none;
}

.main-body{
    margin: 0px;
    padding: 80px 160px;
    padding-top: 40px
}

.main-body p{
    width: 60%;
    margin:10px auto;
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
}

.sub-header{
    border-bottom: 2px solid black;
    margin:5px
}
.sub-header h3{
    margin: 0px;
    font-size: 44px;
    font-weight: lighter;
    text-align: center;
}

.form-div{
    float: none;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.form{
    width: 600px;
    margin: 0 auto;
}

.form input{
    font-size: 44px !important;
    text-align: center;
}

.form button{
    display: block;
    height:50px;
    width: 150px;
    background-color: #888888;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 15px auto;
    align-self: center;
    color: white;
    font-size: 24px;
}

.result{
    text-align: center;
}

.result h3{
    font-size: 34px;
}
.result h4{
    font-size: 28px;
}

.result-img{
    width: 200px;
    margin:0px auto;
}

.result-img img{
    width: 200px;
    height: auto;
}



footer{
    position: absolute;
    bottom: 0;
    border-top: 2px solid black;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    header h1{
        margin: 20px auto 8px auto;
        font-size: 28px;
    }

    header a{
        font-size: 20px;
    }

    .main-body{
        margin: 0px;
        padding: 5px 5px;
        padding-top: 10px
    }

    .sub-header h3{
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
    }

    .main-body p{
        width: 80%;
        margin:10px auto;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
    }

    .form-div{
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }

    .form{
        width: 100%;
        margin: 0 auto;
    }

    .form input{

    }

    .form button{
        display: block;
        height:30px;
        width: 40%;
        background-color: #888888;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin: 0px auto;
        margin-top: 10px;
        align-self: center;
        color: white;
        font-size: 18px;
    }

    .row{
        margin: 0px !important;
    }

    .col-sm-5{
        margin:0px !important;
    }

    .result h3{
        font-size: 18px;
    }

    .result h4{
        font-size: 16px;
    }

    .result-img{
        width: 100px;
        margin:10px auto;
    }
    
    .result-img img{
        width: 100px;
        height: auto;
        margin: auto;
    }
}