<header>
    <div class="container-fluid bg-danger">
        <h1>MonsoonVibe Weather API</h1>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>    
    </div>
</header>